Kronos.xcodeproj/project.xcworkspace/xcuserdata/racqs.xcuserdatad/UserInterfaceState.xcuserstate
Kronos.xcodeproj/xcuserdata/racqs.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Kronos.xcodeproj/xcuserdata/racqs.xcuserdatad/xcschemes/Chrono Lite.xcscheme
Kronos.xcodeproj/xcuserdata/racqs.xcuserdatad/xcschemes/Chrono Plus.xcscheme
Kronos.xcodeproj/xcuserdata/racqs.xcuserdatad/xcschemes/Chrono Pro.xcscheme
Kronos.xcodeproj/xcuserdata/racqs.xcuserdatad/xcschemes/xcschememanagement.plist
