<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>AGENCY</string>
			<key>TEXT</key>
			<string>REQUIRED</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>LOCATION</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>ADDRESS LINE 1</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>ADDRESS LINE 2</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>POSTCODE</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>CONTACT</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>PHONE</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>EMAIL</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>CLIENT</string>
			<key>TEXT</key>
			<string>REQUIRED</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>LOCATION</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>ADDRESS LINE 1</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>ADDRESS LINE 2</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>POSTCODE</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>CONTACT</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>PHONE</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>EMAIL</string>
			<key>TEXT</key>
			<string>OPTIONAL</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>PROJECT NAME</string>
			<key>TEXT</key>
			<string>REQUIRED</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>STAGE / TASK</string>
			<key>TEXT</key>
			<string>REQUIRED</string>
		</dict>
		<dict>
			<key>TYPE</key>
			<string>ENTER_TEXT</string>
			<key>TITLE</key>
			<string>TASK ORDER</string>
			<key>TEXT</key>
			<string>SELECT</string>
			<key>PICKER</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
